<html>
<head>
<meta chatset="UTF-8">
</head>
<body>
<% var tag='h1' %>
<<%= tag %>> TAG 만들기 </<%= tag %>>   <!-- TAG를 동적으로 만들기 -->
        
<h1><%= title %></h1>
<ul>
<% movieList.forEach(function(item) { %>
   <li> <img src="images/<%= item.image %>" height="50px"> <%= item.title %></li>
<% });%>
</ul>
<div>
<a href="/newMovie">Add new Movie</a>
</div>
</body>
</html>